body{
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}
.card{
    margin: 3em 1.5em;
    background-color: white;
    border-radius: 1em;
}
.img-box{
    width: 100%;
    height: 13.4em;
    overflow: hidden;
}
.main-img{
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.text{
    margin: 1.3em;
    margin-top: 2em;
}
h1{
    font-size: 1em;
    color: hsl(217, 19%, 35%);
}
.summary{
    color: hsl(214, 17%, 51%);
    font-size: .9em;
}

.author{
    display: flex;
    align-items: center;
    margin: 1em;
}
.author-info{
    margin-left: .9em;
}
.author-info h2{
    font-size: .9em;
    margin-bottom: 0;
    color: hsl(217, 19%, 35%);
}
.date{
    margin-top: .2em;
    font-size: .8em;
    color: hsl(214, 17%, 51%);
}
.avatar{
    border-radius: 10em;
    width: 3.1em;
    height: 3.1em;
}
.share-button{
    background-color: hsl(210, 46%, 95%);
    width: 1em;
    height: 1em;
    padding: .7em;
    border-radius: 50%;
    position: absolute;
    right: 2.8em;
}
.share{
    background-color: hsl(217, 19%, 35%);
    display: none;
}